@media screen and (min-width: 62em){
    h1{
        font-size: 2rem;
    }

    main{
        height: 100vh;
    }

    .container{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* title */
    .title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* cards section */
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .card{
        margin: 0;
    }

    .supervisor{
        grid-row: 1/3;
    }
    
    .team{
        grid-column: 2;
    }

    .karma{
        grid-column: 2;
    }

    .calculator{
        grid-column: 3;
        grid-row: 1/3;
    }

}