:root{
    --red:#ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;
    --very-dark-blue: #4c4e61;
    --grayish-blue: #a3a5ae;
    --very-light-gray: #fafafa;
}

*{
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-size: 1.4rem;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

main{
    padding: 5em 2em;
    position: relative;
    overflow: hidden;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* title */
.title{
    text-align: center;
    max-width: 32.5rem;
}

.title h1 span{
    font-weight: normal;
}

.title p{
    font-size: .9rem;
    color: var(--grayish-blue);
    margin-bottom: 3.5rem;
}

/* cards section */
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 5px;
    margin-top: 1.5rem;
    box-shadow: 0 10px 10px rgba(84, 158, 242, .2);
    max-width: 22rem;    
    max-height: 16rem;
    cursor: pointer;
}

.card:active{
    position: relative;
    top: 10px;
    box-shadow: 0 0 10px rgba(84, 158, 242, .2);
}

.supervisor{
    border-top: 5px solid var(--cyan);
}

.team{
    border-top: 5px solid var(--red);
}

.karma{
    border-top: 5px solid var(--orange);
}   

.calculator{
    border-top: 5px solid var(--blue);
}

.card h2, .card p{
    margin: 0;
}

.card p{
    color: var(--grayish-blue);
    font-size: .8rem;
}

.card img{
    width: 70px;
    height: 70px;
    align-self: flex-end;
}
